html, body {height: 100%;}

a {color: $links;}

ul, ol {margin-left: 4 * $base-increment + 2px;}
.w-list--icon .w-list__item-bullet {color: green;}

p {margin-bottom: 2 * $base-increment;}

.ovh {overflow: hidden;}

.main-content {
  max-width: 100%;
  line-height: 1.3;
}

.ssh-pre {
  margin: 1em 0;
  line-height: 1.3;

  &[data-label] {margin: 2em 0 1em;}
  &[data-label]:before {font-weight: bold;}
}

// Vue Transitions.
.fade-page-enter-active, .fade-page-leave-from-active {transition: opacity 0.12s;}
.fade-page-enter-from, .fade-page-leave-to {opacity: 0;}

@media screen and (max-width: 600px) {
  .w-app .content-wrap {padding-left: 16px;}
  .title-link .hash {display: none;}
}
