html, body {height: 100%;}

a {color: $links;}

ul, ol {margin-left: 4 * $base-increment + 2px;}
.w-list--icon .w-list__item-bullet {color: green;}

p {margin-bottom: 2 * $base-increment;}

.ovh {overflow: hidden;}

.main-content {
  max-width: 100%;
  line-height: 1.3;
  // https://stackoverflow.com/questions/36247140/why-dont-flex-items-shrink-past-content-size
  min-width: 0;
}

.ssh-pre {
  margin: 1em 0;
  line-height: 1.3;

  &[data-label] {margin: 2em 0 1em;}
  &[data-label]:before {font-weight: bold;}
}

// Vue Transitions.
.fade-page-enter-active, .fade-page-leave-active {transition: opacity 0.12s;}
.fade-page-enter, .fade-page-leave-to {opacity: 0;}

// MEDIA QUERIES.
// --------------------------------------------------------
@media screen and (max-width: 600px) {
  .w-app .content-wrap {padding-left: 16px;}
  .title-link .hash {display: none;}
}

@media screen and (max-width: 450px) {
  .w-app .content-wrap {padding-left: 8px;padding-right: 8px;}
  .ssh-pre__content {padding-top: 12px;}
  .w-app .example {
    .ssh-pre__copy {top: -2px;right: -2px;}
    .ssh-pre[data-label]:before {top: 5px;}
  }
}

// Light mode.
// @media (prefers-color-scheme: light) {
//   body {
//     background-color: white;
//     color: black;
//   }
// }

// Dark mode.
@media (prefers-color-scheme: dark) {
  $dark-theme: true;

  body {
    background-color: #222326;
    color: white;
  }
}
