
.w-app.theme--dark {
  // Colors.
  // ------------------------------------------------------
  $primary: #8fd4ff;

  // Header & Toolbar.
  // ------------------------------------------------------
  header {background-image: url('@/assets/wave-pattern-dark.svg');}

  // Main menu.
  // ------------------------------------------------------
  .nav-menu-wrap {border-right-color: rgba(var(--w-base-color-rgb), 0.08);}

  // MAIN.
  // ======================================================
  // Alerts.
  // ------------------------------------------------------
  .w-alert--docs {color: rgba(var(--w-base-color-rgb), 0.8) !important;}
  .w-alert--docs.alert--info {background-color: rgba(0, 183, 255, 0.15);}
  .w-alert--docs.alert--tip {background-color: rgba(135, 128, 65, 0.4);}
  .w-alert--docs.alert--error {background-color: rgba(177, 64, 64, 0.4);}
  .w-alert--docs.alert--warning {background-color: rgba(201, 115, 0, 0.25);}
  .w-alert--docs.alert--success {background-color: rgba(102, 204, 0, 0.2);}

  // Code.
  // ------------------------------------------------------
  code {
    background-color: rgba(130, 130, 130, 0.2);
    color: #ff6363;
  }
  .code:not(.inherit) {color: rgb(var(--w-base-color-rgb));}
  .ssh-pre {
    border-color: rgba(var(--w-base-color-rgb), 0.06);
    background-color: rgba(#000, 0.3);

    &[data-label]:before {
      border-color: inherit;
      border-bottom-color: #282a2d;
    }
  }

  // Title.
  // ------------------------------------------------------
  .title-link {color: rgba(var(--w-base-color-rgb), 0.9);}
  .title-link .hash {color: rgba(var(--w-base-color-rgb), 0.08);}

  // Examples.
  // ------------------------------------------------------
  .example {
    background-color: rgb(var(--w-base-color-rgb), 0.05);
    border-color: rgba(var(--w-base-color-rgb), 0.08);

    .buttons {
      background-color: rgb(var(--w-base-color-rgb), 0.05);
      border-left-color: rgba(var(--w-base-color-rgb), 0.08);
    }
  }

  .common-layouts legend {
    background: #fffeed;
    border-radius: 99em;
    padding: 0 8px;
    color: #222;
    font-size: 0.9em;
  }

  .transition-box {
    background-color: rgba(0, 0, 0, 0.15);
    border-color: rgba(0, 0, 0, 0.4);

    .yellow-light5--bg {background-color: transparent;}
  }

  .main--layout-grid-system {
    legend.round {
      border: 1px solid rgba(#ca4, 0.9);
      border-width: 1px 0 0;
      background-color: #fff1c6;
      border-radius: 99em;
      padding: 0 6px;
      display: flex;

      .code {color: #444;}
    }
  }

  .hue-on-dark .example__render {
    filter: sepia(1) hue-rotate(100deg);
    * {color: #444;}
  }

  .w-alert__content .black {color: #fff;}
  .example .blue-light5--bg,
  .main--w-list-item .blue-light5--bg,
  .main--shadows-borders-radii .example .orange-light5--bg,
  .main--layout-flex .example .yellow-light5--bg,
  .main--layout-flex .lighter .box,
  .main--layout-flex .wrapper,
  .main--layout-flex .wrapper2,
  .main--layout-simplified-grid-system .wrapper,
  .sliding-card {
    background-color: #394046;
    border-color: #535c65;
  }

  .main--layout-flex .lighter .box,
  .main--layout-simplified-grid-system .box,
  .main--shadows-borders-radii .box {
    background-color: #344f79;
    border: 1px solid #6683b0;
  }
  // ======================================================
  // END OF MAIN.

  // UI COMPONENTS.
  // ======================================================
  // ======================================================
  //END OF UI COMPONENTS.


  // Footer.
  // ------------------------------------------------------
  .caption {color: rgba(162, 162, 162, 0.7);}
}

