// Light mode.
// @media (prefers-color-scheme: light) {
//   body {
//     background-color: white;
//     color: black;
//   }
// }

// Dark mode detection.
// --------------------------------------------------------
// @media (prefers-color-scheme: dark) {
//   body {
//     background-color: #202124;
//     color: rgb(210, 244, 255);
//   }
// }
// --------------------------------------------------------
html {background-color: #222;}
.w-app.theme--dark {
  background-color: #202124;
  color: rgba(#fff, 0.6);

  // Colors.
  // ------------------------------------------------------
  $primary: #8fd4ff;
  .primary--bg, .primary-dark1--bg, .primary-dark2--bg, .primary-dark3--bg {
    color: #000;
  }

  // Header & Toolbar.
  // ------------------------------------------------------
  header {background-image: url('@/assets/wave-pattern-dark.svg');}
  .main-toolbar {background-color: rgba(#222, 0.9);}

  // Main menu.
  // ------------------------------------------------------
  .nav-menu-wrap {border-right-color: rgba(255, 255, 255, 0.08);}

  // MAIN.
  // ======================================================
  // Alerts.
  // ------------------------------------------------------
  .w-alert--docs {color: rgba(#fff, 0.8) !important;}
  .w-alert--docs.alert--info {background-color: rgba(0, 183, 255, 0.15);}
  .w-alert--docs.alert--tip {background-color: rgba(135, 128, 65, 0.4);}
  .w-alert--docs.alert--error {background-color: rgba(177, 64, 64, 0.4);}
  .w-alert--docs.alert--warning {background-color: rgba(201, 115, 0, 0.3);}
  .w-alert--docs.alert--success {background-color: rgba(102, 204, 0, 0.25);}

  // Code.
  // ------------------------------------------------------
  code {
    background-color: rgba(130, 130, 130, 0.2);
    color: #ff6363;
  }
  .code {color: #fff;}
  .ssh-pre {
    border-color: rgba(#fff, 0.06);
    background-color: rgba(#fff, 0.04);

    &[data-label]:before {
      border-color: inherit;
      border-bottom-color: #282a2d;
    }
  }

  // Title.
  // ------------------------------------------------------
  .title-link {color: rgba(#fff, 0.9);}
  .title-link .hash {color: rgba(#fff, 0.08);}

  // Examples.
  // ------------------------------------------------------
  .example {
    background-color: rgb(#fff, 0.05);
    border-color: rgba(#fff, 0.08);

    .buttons {
      background-color: rgb(#fff, 0.05);
      border-left-color: rgba(#fff, 0.08);
    }
  }

  .transition-box {
    background-color: rgba(0, 0, 0, 0.15);
    border-color: rgba(0, 0, 0, 0.4);
  }
  // ======================================================
  // END OF MAIN.

  // UI COMPONENTS.
  // ======================================================
  .w-dialog__content {background-color: #222;}
  // ======================================================
  //END OF UI COMPONENTS.


  // Footer.
  // ------------------------------------------------------
  .caption {color: rgba(162, 162, 162, 0.7);}
}

