$links: #09c;
$theme-switch-transition: 0.4s;

@mixin theme-switch-transition() {
  transition: color $theme-switch-transition,
              background-color $theme-switch-transition,
              border-color $theme-switch-transition,
              stroke $theme-switch-transition,
              fill $theme-switch-transition;
}

// Override Wave UI's SCSS defaults.
$base-font-size: 13px;

// $box-shadow: 0 3px 1px -2px rgba(#000, 0.5),
//              0 2px 2px 0 rgba(#000, 0.5),
//              0 1px 5px 0 rgba(#000, 0.5);
