.w-app {
  .white--bg {background-color: #fff;}
  .white {color: #fff;}
  .grey--bg {background-color: #888;}
  .grey {color: #888;}
  .black--bg {background-color: #000;color: rgba(255, 255, 255, 0.9);}
  .black {color: #000;}
  .success--bg, .error--bg, .warning--bg, .info--bg {color: #fff;}

  $colors:(
    'pink': #e91e63,
    'purple': #a741b9,
    'deep-purple': #673ab7,
    'indigo': #3f51b5,
    'blue': #2196f3,
    'light-blue': #03a9f4,
    'cyan': #04cbe5,
    'teal': #1db3a8,
    'green': #4caf50,
    'light-green': #90d73f,
    'lime': #cee029,
    'yellow': #ffe70f,
    'amber': #ffc107,
    'orange': #ff9800,
    'deep-orange': #ff6825,
    'red': #fa3317,
    'brown': #845848,
    'blue-grey': #6c8693,
    'grey': #848484
  );

  @each $label, $color in $colors {
    .#{$label}--bg {background-color: $color;}
    .#{$label} {color: $color;}

    @for $i from 1 through 5 {
      .#{$label}-lighten-#{$i}--bg {background-color: lighten($color, 8 * $i);}
      .#{$label}-lighten-#{$i} {color: lighten($color, 8 * $i);}
      .#{$label}-darken-#{$i}--bg {background-color: darken($color, 6 * $i);}
      .#{$label}-darken-#{$i} {color: darken($color, 6 * $i);}
    }
  }
}
