.w-app {
  .white {background-color: #fff;}
  .white--text {color: #fff;}
  .grey {background-color: #888;}
  .grey--text {color: #888;}
  .black {background-color: #000;}
  .black--text {color: #000;}
  .success, .error, .warning, .info {color: rgba(255, 255, 255, 0.9);}
}
