// Layout classes.
// ----------------------------------------------
.w-app * {box-sizing: border-box;}

.layout {
  display: flex;
  flex: 1 1 auto;
  &.wrap {flex-wrap: wrap;}
}
.flex, .grow, .spacer {flex-grow: 1;}
.shrink {flex-shrink: 1;}
// ----------------------------------------------

// Spaces.
// ----------------------------------------------
.w-app {
  @for $i from 1 through 12 {
    $number: round($i * 100 / 3) / 100;
    .ma-#{$i} {margin: #{$number}rem;}
    .mt-#{$i} {margin-top: #{$number}rem;}
    .mr-#{$i} {margin-right: #{$number}rem;}
    .mb-#{$i} {margin-bottom: #{$number}rem;}
    .ml-#{$i} {margin-left: #{$number}rem;}
    .mx-#{$i} {margin-left: #{$number}rem;margin-right: #{$number}rem;}
    .my-#{$i} {margin-top: #{$number}rem;margin-bottom: #{$number}rem;}
  }
  @for $i from 1 through 12 {
    $number: round($i * 100 / 3) / 100;
    .pa-#{$i} {padding: #{$number}rem;}
    .pt-#{$i} {padding-top: #{$number}rem;}
    .pr-#{$i} {padding-right: #{$number}rem;}
    .pb-#{$i} {padding-bottom: #{$number}rem;}
    .pl-#{$i} {padding-left: #{$number}rem;}
    .px-#{$i} {padding-left: #{$number}rem;padding-right: #{$number}rem;}
    .py-#{$i} {padding-top: #{$number}rem;padding-bottom: #{$number}rem;}
  }
}
// ----------------------------------------------
