#{$css-scope} {
  .headline, .title-1 {
    font-size: round(2.2 * $base-font-size);
    font-weight: 100;
    letter-spacing: 1px;
  }

  .title-2 {
    font-size: round(1.7 * $base-font-size);
    font-weight: 400;
  }

  .title-3 {
    font-size: round(1.4 * $base-font-size);
    font-weight: 400;
  }

  .title-4 {
    font-size: round(1.25 * $base-font-size);
    font-weight: 400;
  }

  .title-5 {
    font-size: round(1.1 * $base-font-size);
    font-weight: 600;
  }

  .body {
    font-size: $base-font-size;
    font-weight: normal;
  }

  .caption {
    font-size: round(0.85 * $base-font-size);
    font-style: italic;
    color: rgba(80, 80, 80, 0.7);
  }

  .text-up {text-transform: uppercase;}
  .text-low {text-transform: lowercase;}
  .text-light {font-weight: normal;}
  .text-bold {font-weight: bold;}
  .text-italic {font-style: italic;}
  .text-nowrap {white-space: nowrap;}

  code {
    display: inline-block;
    background-color: rgba(80, 80, 80, 0.1);
    padding: round(0.5 * $base-increment) round(1.5 * $base-increment);
    color: #c33;
    border-radius: $border-radius;
  }
}
