@use "sass:math";

@function divide($a, $b) {
  // @return math.div($a, $b); // Atm this still breaks in vue-cli.
  @return $a / $b;
}

// GLOBAL DEFAULTS.
// ========================================================
$css-scope: '.w-app' !default; // Allows control on CSS rules priority.

$base-font-size: 14px !default;
$base-increment: round(divide($base-font-size, 4)) !default;
$layout-padding: $base-increment * 4 !default; // Applied on the .content-wrap tag.
$border-radius: 3px !default;
$border-color: rgba(0, 0, 0, 0.15);
$border: 1px solid $border-color !default;
$transition-duration: 0.2s !default;
$fast-transition-duration: 0.15s !default;
$box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
             0 2px 2px 0 rgba(0, 0, 0, 0.15),
             0 1px 5px 0 rgba(0, 0, 0, 0.15) !default;
// When a form element is disabled (checkbox, radio, input, select list).
$disabled-color: #ccc;
$form-field-height: round(2 * $base-font-size) !default;
// Always an even number for better vertical alignment. (Used in checkbox, radio, switch)
$small-form-el-size: round(divide(1.3 * $base-font-size, 2)) * 2 !default;

// Mixins.
@mixin default-transition($duration: $transition-duration, $delay: 0s) {
  transition: $duration $delay ease-in-out;
}

@mixin out-back-transition($duration: $transition-duration, $delay: 0s) {
  transition: $duration $delay cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

// COMPONENTS DEFAULTS.
// ========================================================
// w-drawer.
$drawer-max-size: 380px !default;
// --------------------------------------------------------

// w-slider.
// --------------------------------------------------------
$slider-height: $base-increment !default;
$slider-track-color: #ddd;
// --------------------------------------------------------

// w-table.
// --------------------------------------------------------
$table-tr-odd-color: rgba(0, 0, 0, 0.02);
$table-tr-hover-color: rgba(0, 0, 0, 0.05);
$table-color: rgba(0, 0, 0, 0.7);
// --------------------------------------------------------

// w-textarea.
// --------------------------------------------------------
$textarea-line-height: 1.2;
// --------------------------------------------------------

// w-tooltip.
// --------------------------------------------------------
$tooltip-bg-color: #fff;
$tooltip-color: rgba(0, 0, 0, 0.7);
// --------------------------------------------------------
