@import './variables';
@import './typography';
@import './layout';
@import './colors';

// ==============================================
// Wave UI framework classes.
// ==============================================

// Structure classes.
// ----------------------------------------------
.content-wrap {
  padding-left: $layout-padding;
  padding-right: $layout-padding;
}
// ----------------------------------------------

// Sizes.
// ----------------------------------------------
.size--x-small {font-size: 0.8rem;line-height: 0.9rem;}
.size--small {font-size: 1rem;line-height: 1.1rem;}
.size--medium {font-size: 1.25rem;line-height: 1.4rem;}
.size--large {font-size: 1.5rem;line-height: 1.7rem;}
.size--x-large {font-size: 1.8rem;line-height: 2rem;}
// ----------------------------------------------

