@import './variables';

// ==============================================
// Wave UI framework classes.
// ==============================================

// Structure classes.
// ----------------------------------------------
.content-wrap {
  padding-left: $layout-padding;
  padding-right: $layout-padding;
}
// ----------------------------------------------

// Layout classes.
// ----------------------------------------------
.layout {
  display: flex;
  flex: 1 1 auto;
  &.wrap {flex-wrap: wrap;}
}
.flex, .grow, .spacer {flex-grow: 1;}
.shrink {flex-shrink: 1;}
// ----------------------------------------------

// Typography.
// ----------------------------------------------
.headline {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  font-size: 2em;
  font-weight: 400;
  letter-spacing: 1px;
}

.title {}
.subtitle {}
.subtitle-2 {}
// ----------------------------------------------

// Sizes.
// ----------------------------------------------
.size--x-small {font-size: 0.7rem;line-height: 0.9rem;}
.size--small {font-size: 0.9rem;line-height: 1.1rem;}
.size--medium {font-size: 1.2rem;line-height: 1.3rem;}
.size--large {font-size: 1.5rem;line-height: 1.6rem;}
.size--x-large {font-size: 1.8rem;line-height: 2rem;}
// ----------------------------------------------

// Spaces.
// ----------------------------------------------
.w-app {
  @for $i from 1 through 12 {
    $number: round($i * 100 / 3) / 100;
    .ma-#{$i} {margin: #{$number}rem;}
    .mt-#{$i} {margin-top: #{$number}rem;}
    .mr-#{$i} {margin-right: #{$number}rem;}
    .mb-#{$i} {margin-bottom: #{$number}rem;}
    .ml-#{$i} {margin-left: #{$number}rem;}
    .mx-#{$i} {margin-left: #{$number}rem;margin-right: #{$number}rem;}
    .my-#{$i} {margin-top: #{$number}rem;margin-bottom: #{$number}rem;}
  }
  @for $i from 1 through 12 {
    $number: round($i * 100 / 3) / 100;
    .pa-#{$i} {padding: #{$number}rem;}
    .pt-#{$i} {padding-top: #{$number}rem;}
    .pr-#{$i} {padding-right: #{$number}rem;}
    .pb-#{$i} {padding-bottom: #{$number}rem;}
    .pl-#{$i} {padding-left: #{$number}rem;}
    .px-#{$i} {padding-left: #{$number}rem;padding-right: #{$number}rem;}
    .py-#{$i} {padding-top: #{$number}rem;padding-bottom: #{$number}rem;}
  }
}
// ----------------------------------------------

// Colors.
// ----------------------------------------------
.w-app .white {background-color: #fff;}
.w-app .white--text {color: #fff;}
.w-app .grey {background-color: #888;}
.w-app .grey--text {color: #888;}
.w-app .black {background-color: #000;}
.w-app .black--text {color: #000;}

.w-app .success {background-color: #4b4;color: #fff;}
.w-app .success--text {color: #4b4;}
.w-app .error {background-color: #f55;color: #fff;}
.w-app .error--text {color: #f55;}
.w-app .warning {background-color: #f80;color: #fff;}
.w-app .warning--text {color: #f80;}
.w-app .info {background-color: #29f;color: #fff;}
.w-app .info--text {color: #29f;}
// ----------------------------------------------
